@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
.form {
     width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    margin: 1% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 15%;@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
.form {
     width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 1% auto;
    text-align: center;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 15%;
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,209,157,1) 68%, rgba(0,212,255,1) 100%);
}
body {
   background: rgb(236, 223, 104);
background: linear-gradient(90deg, rgb(238, 236, 114) 0%, rgb(190, 16, 16) 0%, rgba(0,212,255,1) 100%);
background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}


h1.login-title {
    margin: 0px auto 25px;
    font-weight: 300;
    text-align: center;
 font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
.login-input {
     background: #fff;
    color: #333;
    text-align: center;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}
.login-input:focus {
      transform: translateX(-2px);
    border-radius: 5px;
    text-align: center;
}
.login-button {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
    text-align: center;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}
}
body {
   background: rgb(2,0,36);
background-image: linear-gradient(to right, rgb(111, 195, 216), mintcream,lavender, rgb(201, 160, 235), slateblue);
background-attachment: fixed;
text-align: center;

  background-repeat: no-repeat;

    font-family: Brush Script MT;
/*   the main font */
    font-family: Brush Script MT;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}


h1.login-title {
    margin: 0px auto 25px;
    font-weight: 300;
    text-align: center;
 font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
.login-input {
     background: #fff;
    color: #333;
    text-align: center;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}
.login-input:focus {
      transform: translateX(-2px);
    border-radius: 5px;
}
.login-button {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}